BO_VPN_EXISTING_CONTAINER_NAME=univpn-service
BO_VPN_DOCKER_BIN=/usr/bin/docker
BO_VPN_NSENTER_BIN=/usr/bin/nsenter
BO_VPN_SSH_BIN=/usr/bin/ssh
BO_VPN_SSH_KEY_PATH=/home/timur/univpn/rsa.key
BO_VPN_DEFAULT_SSH_USER=root
BO_VPN_NSENTER_TIMEOUT_SEC=8
BO_VPN_COMMAND_OUTPUT_MAX_BYTES=65536
